@model TestTask.CustomAuth.Models.Security.LoginModel
@{
    ViewBag.Title = "Вход на сайт";
    Layout = "_AdminLayout";
}

<div class="text-danger" asp-validation-summary="All"></div>

<div class="row justify-content-center">
<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
    <div>
        <div class="form-group">
            <label asp-for="Email">Введите Email</label>
            <input type="text" asp-for="Email" />
            <div><span asp-validation-for="Email" class="text-danger" /></div>
        </div>
        <div class="form-group">
            <label asp-for="Password">Введите пароль</label>
            <input asp-for="Password" />
            <div><span asp-validation-for="Password" class="text-danger" /></div>
        </div>
        <div class="form-group">
            <input type="submit" value="Войти" class="btn btn-primary" />

            <a asp-action="Register" asp-controller="Account">Регистрация</a>
        </div>
    </div>
</form>

</div>